*{margin:0;padding:0;}
body{
	font-family:'Microsoft yahei';
	overflow-x:hidden;
	background-color: #000;
}
a{text-decoration:none;}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header{
	width:100%;
	height: 0px;
	position:fixed;
	top:0;left:0;
	background:#fff;
	z-index:1000;
}
#main{
	margin-top:-190px;
	width:100%;
	height:1058px;
	background:url('../img/table-bg.jpg') center -20px no-repeat;
	background-size:cover;
}
#main .center{
	width:1000px;
	height:100%;
	margin:0 auto;
	position:relative;
}
#main .center .table{
	width:964px;
	height:414px;
	background:url('../img/desktop-bg.jpg') no-repeat;
	position:absolute;
	top:240px;
	left:29px;
}
#main .table{
	@media (max-width:1024px){
		
	}
}
#bottom{
	width:100%;
	position:fixed;
	bottom:0;
	padding-bottom:10px;
	background:rgba(255,255,255,0.2);
	border-top:7px solid rgba(0,0,0,0.61);
}
#bottom .control{
	width:1170px;
	margin:0 auto;
	padding:20px 0 10px 0;
}
#bottom .control .control-content{
	text-align:center;
	vertical-align:middle;
	color:#fff;
}
.btn{
	display:inline-block;
	width: 50px;
    height: 30px;
	border-radius:3px;
	outline:none;
	border:none;
	cursor:pointer;
	color:#fff;
	opacity:1;
	font-weight:bold;
	vertical-align:middle;
	background-image:linear-gradient(to bottom, #0089A4, #005C6E);
}
.btn:hover{
	background-image: linear-gradient( to bottom, #00ABCC, #007B94 );
}
.btn-disabled, .btn-disabled:hover{
	opacity: .4;
    background-image: linear-gradient( to bottom, #8D8D8D, #282828 ) !important;
    border-top: 1px solid #9E9E9E;
    cursor: default !important;
}
i.chip{
	display:inline-block;
	width:50px;
	height:46px;
	cursor:pointer;
	opacity:0.6;
	vertical-align:middle;
	background:url('../img/chips.png') no-repeat;
	transition:margin-top 0.2s;
}
i.chip-add{
	position:absolute;
	/*left:50%;
	top:50%;
	margin-left:-25px;*/
	opacity:1;
}
#bottom .control span.chip-group i.chip-seleced{
	margin-top:-33px;
	opacity:1;
}
#bottom .control span.chip-group i.chip:hover{
	opacity:1;
}
#bottom .control span.chip-group i.chip-1{
	background-position:0 0px;
}
#bottom .control span.chip-group i.chip-2{
	background-position:-50px 0px;
}
#bottom .control span.chip-group i.chip-5{
	background-position:-100px 0px;
}
#bottom .control span.chip-group i.chip-20{
	background-position:-200px 0px;
}

#bottom .control span.chip-group i.chip-50{
	background-position:-250px 0px;
}
#bottom .control .statics .money{
	font-size:26px;
	font-weight:bold;
	color:#EEDF00;
	vertical-align:middle;
	text-shadow:1px 1px 1px #000;
}
#bottom .control .btn-submit{
	margin-left:20px;
	display:inline-block;
	padding:0 30px;
	height:30px;
	background-image: linear-gradient( to bottom, #fe7200, #d03900 );
	border-radius:3px;
	outline:none;
	border:none;
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	vertical-align:middle;
}
#bottom .control .btn-submit:hover{
	background-color: #d03900;
    background-image: linear-gradient( to bottom, #FF831F, #F04200 );
    border-top-color: #FF9D73;
}
#bottom .control .my-money{
	padding:5px 10px;
	color:#fff;
	background:rgba(0,0,0,0.2);
	font-size:12px;
	border-radius:5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.27) inset;
	border: 1px solid rgba(193, 193, 193, 0.16);
}
#bottom .control .my-money .num{
	font-weight:bold;
	font-size:16px;
	text-shadow:1px 1px 1px #000;
	color:#ff0;
}
#bottom .history{
	width:890px;
	margin:0 auto;
}
#bottom .history .content{
	border: 1px solid rgba(193, 193, 193, 0.16);
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.27) inset;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.19);
}
#bottom .history .content ul{
	list-style:none;
}
#bottom .history .content ul li{
	list-style:none;
	width: 16px;
    float: left;
    margin-right: 2px;
}
#bottom .history .content ul li i.sdice{
	display: block;
    width: 16px;
    height: 16px;
    background: url('../img/dice-small.png') no-repeat;
    margin-bottom: 1px;
}
#bottom .history .content ul li i.sdice-1{
	background-position:0px 0px;
}
#bottom .history .content ul li i.sdice-2{
	background-position:-17px 0px;
}
#bottom .history .content ul li i.sdice-3{
	background-position:-34px 0px;
}
#bottom .history .content ul li i.sdice-4{
	background-position:0px -17px;
}
#bottom .history .content ul li i.sdice-5{
	background-position:-17px -17px;
}
#bottom .history .content ul li i.sdice-6{
	background-position:-34px -17px;
}
#bottom .history .content ul li i.sign{
	display: block;
    width: 16px;
    height: 16px;
    font-style: normal;
    text-align: center;
    line-height: 16px;
    overflow: hidden;
    color: #FFF;
    font-size: 12px;
    margin-top: 2px;
    background: #007042;
    border-radius: 2px;
}
#bottom .history .content ul li i.sign-big{
	background: #BA1717;
}
#bottom .history .content ul li i.sign-small{
	background: #209022;
}
#bottom .history .content ul li i.sign-even{
	background: #209022;
}
#bottom .history .content ul li i.sign-odd{
	background: #BA1717;
}
#bottom .history .content ul li i.sign-baozi{
	background: #333;
}
/*table*/
#main .center .table div.t-mask{
	width:100%;
	height:100%;
	border-radius:50px;
	background:rgba(0,0,0,0.2);
	position:absolute;
	top:-414px;left:0;
	z-index:999;
	display:none;
} 
#main .center .table div.t-mask .glass{
	width:300px;
	height:226px;
	background:url('../img/glasses.png') no-repeat;
	position:absolute;
	top:50%;left:50%;
	margin-top:-113px;
	margin-left:-150px;
	display:block;
	z-index:99;
}
#main .center .table div.t-mask .glass .dice{
	width:44px;
	height:44px;
	background:url('../img/dice.png') no-repeat;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-22px;
	z-index:11;
	transform:rotate(0);
}
#main .center .table div.t-mask .glass .dice-1{
	background-position:0px 0px;	
}
#main .center .table div.t-mask .glass .dice-2{
	background-position:-44px 0px;	
}
#main .center .table div.t-mask .glass .dice-3{
	background-position:-88px 0px;	
}
#main .center .table div.t-mask .glass .dice-4{
	background-position:0px -44px;	
}
#main .center .table div.t-mask .glass .dice-5{
	background-position:-44px -44px;	
}
#main .center .table div.t-mask .glass .dice-6{
	background-position:-88px -44px;		
}
#main .center .table .item-info-tip{
	width:16px;
	height:16px;
	background:url('../img/item-info-tip.png') no-repeat;
	position:absolute;
	cursor:pointer;
	z-index:3;
}
.item-info-tip-1{
	top:20px;
	left:70px;
}
.item-info-tip-2{
	top:2px;
	left:430px;
}
.item-info-tip-3{
	top:5px;
	left:235px;
}
.item-info-tip-4{
	top:110px;
	left:50px;
}
.item-info-tip-5{
	top:80px;
	left:430px;
}
.item-info-tip-6{
	top:155px;
	left:35px;
}
.item-info-tip-7{
	top:250px;
	left:35px;
}
.item-info-tip-8{
	top:365px;
	left:35px;
}
#main .center .table .item-info-tip .item-hide{
	width: 220px;
    position: absolute;
    top: 15px;
    left: 20px;
    color: #79ff92;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
	background:rgba(0,0,0,0.6);
	display:none;
}
#main .center .table .item-info-tip .item-hide font{
	color:#ff0;
}
#main .center .table .itemLump{
	position:absolute;
	background:url('../img/shadow.png') no-repeat 10000px 10000px;
}
#main .center .table .itemLump span.tip{
	position: absolute;
    top: -35px;
    width: 90px;
    margin-left: -45px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
    color: #F9FF00;
    text-align: center;
    border-radius: 5px;
    z-index: 50;
    opacity:0;
    left: 10000px;
    transition: opacity .5s;
}
#main .center .table .itemLump span.hove-show{
	opacity:1;
    left: 50%;
	transition: opacity .5s;
}
.explain,.warning{
	width:370px;
	position:fixed;
	top:40%;
	left:50%;
	margin-left:-135px;
	border:4px solid #00955B;
	background:rgba(0,0,0,0.7);
	border-radius:8px;
	padding:15px 25px;
	color:#fff;
	display:block;
}
.explain h2{
	text-align:center;
	margin-bottom:10px;
}
.explain p,.warning p{
	font-size:14px;
	margin-bottom:15px;
}
.explain p span{
	color:#F8FF00;
}
.explain p a{
	font-weight:bold;
	color:#F8FF00;
}
a.close{
	display:block;
	width:100px;
	height:30px;
	font-size:16px;
	text-align:center;
	line-height:30px;
	margin:0 auto;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #0089A4, #005C6E);
}
.explain a.close:hover,.warning a.close:hover{
	background-image: linear-gradient( to bottom, #00ABCC, #007B94 );
}
.warning p span{
	font-size:18px;
	color:#F8FF00;
}
.warning{
	display:none;
}
.continuationChip{
	background: rgba(0, 0, 0, 0.7);
    border: 4px solid #00955B;
    width: 240px;
    color: #FFF;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -102px;
    margin-left: -134px;
    z-index: 201;
    display: block;
	text-align:center;
	padding:20px;
	font-size:14px;
	border-radius:5px;
	display:none;
}
.continuationChip > input{
	width: 60px;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #F60;
	margin:10px auto;
}
.continuationChip a.continuation-Btn{
	display:inline-block;
	width:100px;
	height:30px;
	font-size:16px;
	text-align:center;
	line-height:30px;
	margin:20px auto 0;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
	background-image: linear-gradient( to bottom, #fe7200, #d03900 );
}
.continuationChip a.continuation-Btn:hover{
	 background-image: linear-gradient( to bottom, #FF831F, #F04200 );
}
.continuationChip a.continuation-close{
    background-image: linear-gradient( to bottom, #0089A4, #005C6E );
	display:inline-block;
	width:50px;
	height:30px;
	font-size:12px;
	text-align:center;
	line-height:30px;
	margin:20px 20px 0;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.continuationChip a.continuation-close:hover{
	background-image: linear-gradient( to bottom, #00ABCC, #007B94 );
}
.bet-many-tip{
	top: 50%;
    left: 429px;
    position: fixed;
    z-index: 100;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 460px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #343434;
    opacity: .9;
    color: #4B4B4B;
    color: #FFF;
    font-size: 14px;
	border: 4px solid #00955B;
	display:none;
}
.bet-many-tip span{
	display: inline-block;
    padding: 0 10px;
    color: #EEDF00;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 1px 1px 1px #002314;
}
.bet-many-tip a{
	display: inline-block;
    background-image: linear-gradient( to bottom, #0089A4, #005C6E );
    color: #FFF;
    border-top: 1px solid #29BEDB;
    border-radius: 3px;
    padding: 5px 30px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 2px;
    line-height: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    height: auto;
    font-weight: normal;
    font-size: 12px;
}
.bet-many-tip a:hover{
	background-image: linear-gradient( to bottom, #00ABCC, #007B94 );
}